*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: #212529;

}


body{

    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: rgba(235, 231, 231, 0.808);
    min-height: 480px;
    min-width: 320px;
    font-size: 1rem!important;

}

/* img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
} */

/* all class  */

.btn{
  text-transform: uppercase;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  font-size: medium;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


#dropDownNavbar{
  width: 100%;
  height: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 100;
  font-size: 80%;
  padding: 0.5rem 0.25rem ; 
  display: flex;
  align-items: center;
  border: 1px solid black;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dropDownNavbarDiv {

  display: flex;
  border: 1px solid blue;
  margin: 0.25rem;
  /* flex: 1; */

}
.dropDownNavbarDiv >p , .dropDownNavbarDiv >span {
 
margin: 0;
padding: 0;
outline: 0;
  
}


.bold{
  margin: 1rem 0 0 0;
  font-weight: 600;
  font-size:xx-small;
}

.divSeprator{

  margin: 1rem 1rem;
  border-right: 1px solid lightgrey;
  height: auto;
}

.navCards{
width: max-content;
  padding: 1rem;
border-radius: 0.5rem;
box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  flex-wrap: wrap;
  z-index: 100005;
  background-color: white;
}

.navCards > div > a{

 text-decoration: none;
 color: black;
 display: block;
 margin: 0.3rem;
 font-size: x-small;
}
#navOne,#navTwo,#navThree,#navFour, #navFive, #navSix, #navSeven, #navEight, #navNine, #navTen{
  margin: 1rem;
  position: absolute;

}


#mainCaresol{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
}
#mainCaresol img{

  width: 100%;
  /* height: 100%; */
}
#rightCaresol{
  width: 65%;
  float: left;
  height: 11.3rem;
}

#carouselExampleInterval{
  /* border: 2px solid black; */
  height: 100%;
}

.carousel-inner{
  height: 100%;
  position: relative;

  /* border-bottom: 6px solid rgba(0, 0, 0, 0.863); */
}

.carousel-item  {
  height: 100%;
  /* position: relative; */

  /* border-bottom: 6px solid rgba(0, 0, 0, 0.863); */
}

.carousel-item  img {
  height: 11.5rem;
  /* position: relative; */

  /* border-bottom: 6px solid rgba(0, 0, 0, 0.863); */
}





#leftCaresol{

  width: 35%;

  float: right;
  /* border: 2px solid black; */

}

#leftCaresol > img{
  width: 83%;
}


/* minBanner  div */

#minBanner{

  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-width: 2px 0;
}

#minBanner > h1{

margin: 26px 0;
font-size: 22px;
text-align: center;
width: 70%;

}







.styles__creative-section___klRBC{

width: 94%;
margin: 30px auto;
max-width: 1280px;

}

.styles__creative-section___klRBC > a {
  width: 100%;

}
  

.styles__creative-section___klRBC > a > img{

width: 100%;
vertical-align: center;

}




/* five row css name and img only */

  /* card css */
  .style__container___39fE1 {
    border-radius: 10px;
    display: grid;
    width: 175px;
    margin: 0 5px;
    text-align: center;
   
}

.style__container___39fE1:hover {
  
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
}
  /* a tag */
  .style__anchor-style___1scP7 {
    padding: 10px;
    overflow: hidden;
}

  /* img div  */
  .style__image-container___2G57P {
    display: block;
    max-width: 120px;
    height: 120px;
    margin: 10px auto;
    position: relative;
}

.style__image-container___2G57P img {
  height: 120px;
  margin: auto;
  display: block;
}
.style__image___Ny-Sa.style__loaded___22epL {
  opacity: 1;
  transform: scale(1);
  transition: all .3s ease-in-out;
}

.style__card-head-name___3UuUt {
  display: -webkit-inline-box;
  color: #212121;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 12px;
}



/* slideshow section  1*/

.pDiv_1 {
  padding: 0px 50px ;
  background-color: white;
}
h5 {
  padding: 40px;
}
#slideshow {
  color: white;
  margin-top: 10px;
  background-color: white;
}
.container-fluid {
  padding: 0% 3%;
}
.commonCSS {
  
  margin-top: 10px;
  height: 200px;
}
.commonCSS img {
  width: 90%;
  height: 70%;
}
.carousel-control-prev, .carousel-control-next {
  width: 3%;
  
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #ff6f61;
  height: 30px;
  width: 20px;
}
.slideData {
  display: flex;
  gap: 6%;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: black;
}

#ayuDiv {
  gap: 10px;
  padding: 20px;
  display: flex;
  text-align: center;
}
#ayuDiv img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
#ayuDiv div {
  border-radius: 10px;
  padding: 10px;
  text-align: left;
}
#ayuDiv h6 {
  font-weight: bold;
}
#ayuDiv p {
  font-size: 0.6rem;
}

#ayuDiv > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slideData > div:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
















/* media  */



@media screen and (min-width: 768px){

  .style__card-head-name___3UuUt {
    font-size: 14px;
    height: 45px;
}

}
